@font-face {
    font-family: "Helvetica";
    src: url("./fonts/Helvetica.ttf") format("truetype");
  }

@font-face {
    font-family: "Avenir";
    src: url("./fonts/AvenirLTStd-Roman.otf") format("opentype");
}
html, body{
  background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: auto;
}

.header-nav{
  margin-top: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav{
  margin-left: 121px;
  display: flex;
  flex-wrap: nowrap;
}

.about{
  color: #212353;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
}

.help, .features, .signup{
  color: #5b5d68;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  margin-left: 40px;
}

.rd{
  color: #212353;
}

.demo{
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  padding: 17px 29px;
  font-weight: 800;
  font-size: 0.888rem;
  margin-left: 418px;
}

.arrow1{
  margin-left: 20px;
}

main{
  margin-top: 143px;
  display: flex;
  justify-content: space-around;
  padding-right: 580px
}

.main{
  position: absolute;

}

.slogan{
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;
  color: #212353;
}

.info{
  margin-top: 50px;
  line-height: 160%;
  color: #4b5d68;
}

.more1{
  background: #9C69E2;
  border-radius: 50px;
  padding: 16px 37px;
  color: #fff;
  margin-top: 50px;
  width: 95px;
}

.image1{
  margin-top: 90px;
  margin-left: 1020px;
  position: relative;
}

.section1_wrapper{
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  display: inline-flex;
  margin-top: 100px;
}

.section1_heading{
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  margin-top: 125px;
  margin-right: 101px;
  color: #212353;
}

.image2{
  margin-right: 72px;
  margin-left: 30px;
}

.section1_text{
  margin-top: 40px;
  margin-right: 103px;
  margin-bottom: 125px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}

.features_head{
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

.features_text{
  text-align: center;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
  margin-bottom: 150px;
}

section{
  display: flex;
  justify-content: center;
}

.s21, .s22, .s23, .s24{
  display: flex;
  margin-bottom: 105px;
}

.s23{
  margin-right: 60px;
}

.s21{
  margin-right: 50px;
}

h5{
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: #212353;
}

.p21, .p22, .p23, .p24{
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
  margin-top: 20px;
  height: 160px;
}

.lm{
  margin-top: 20px;
  display: flex;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.005em;
}

.lm_text{
  margin-bottom: 5px;
}

.lm_arrow1{
  margin-left: 20px;
}

.image31{
  height: 211px;
  margin-right: 39px;
}

.image32{
  height: 185px;
  margin-right: 33px;
}

.image33{
  height: 181px;
  margin-right: 25px;
}

.image34{
  height: 201px;
  margin-right: 39px;
}

.section3{
  border-radius: 50px;
  background: #9C69E2;
  padding: 109px 76px 58px 93px;
  margin-bottom: 150px;
}

.testimonials_head{
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #fff;
  letter-spacing: 0.05em;
}

.testimonials_blog{
  background: #fff;
  box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  border-radius: 20px;
  padding-top: 60px;
  padding-left: 103px;
  margin-top: 88px;
  display: flex;
}

.testimonials_foot{
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
}

.face{
  margin-bottom: 180px;
}

.name{
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 160%;
  margin-top: 20px;
  margin-left: 44px;
  color: #212353;
}

.site{
  margin-left: 44px;
  margin-bottom: 19px;
  margin-top: 6px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #9C69E2;
}

.blog_text{
  margin-left: 44px;
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #4B5D68;
  margin-right: 130px;
}

.arrow2{
  margin-right: 20px;
}

.line{
  background: #9C69E2;
  opacity: 0.2;
  height: 2px;
  margin-bottom: 100px;
}

.pre_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

.pf_right{
  display: flex;
  justify-content: center;
  margin-left: 370px;
}

.demo1{
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  padding: 17px 29px;
  font-weight: 800;
  font-size: 0.888rem;
  margin-left: 30px;
}

.lm2{
  background: #F063B8;
  border-radius: 50px;
  padding: 16px 37px;
  color: #fff;
}

.pf_l_h4{
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
}

.pf_l_p{
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
  margin-top: 20px;
}

footer{
  display: flex;
  justify-content: center;
}

.footer{
  display: flex;
  justify-content: space-between;
}

.foot_head1{
  display: flex;
  align-items: center;
}

.dw{
  margin-left: 20px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 160%;
  color: #212353;
}

.foot_body11{
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: #212353;
  margin-top: 65px;
}

.foot_body12{
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 180%;
  color: #212353;
  margin-top: 10px;
  margin-bottom: 118px;
}

.foot_end{
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 180%;
  color: #212353;
  margin-bottom: 96px;
}

.foot_head3, .foot_head2, .foot_head4{
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  margin-top: 10px;
}

.foot2{
  margin-left: 250px;
  margin-right: 160px;
}

.foot4{
  margin-left: 160px;
}

.foot_body2, .foot_body3{
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 250%;
  color: #212353;
  margin-top: 40px;
}

.foot_body4{
  margin-top: 40px;
}

.fb, .tw{
  margin-right: 14px;
}

.talk{
  position: fixed;
  bottom: 91px;
  right: 243px;
}
